article.MainPage{
	padding-top: 49px;
	padding-bottom: 49px;
	width: initial;
	padding-left: 16px;
	padding-right: 16px;
}
article.Project{
	padding-top: 49px;
}
article.Projects{
	padding-top: 49px;
	padding-bottom: 49px;
}
#Blue{
	display: none;
}
body{
	padding: 0;
	background-color: white;
}
#CloseSidebar{
	display: block;
	color: rgb(8,48,51);
	font-size: 21px;
}
#ContactSupport{
	font-size: 14px;
	top: 13.5px;
}
#ContentRight{
	margin-left: 187px;
	width: calc(100% - 187px);
}
.ContentRightContainer{
	width: calc(100% - 32px);
	padding-left: 16px;
	padding-right: 16px;
	font-size: 15px;
}
.ContentRightContainer h1{
	padding-top: 96px;
	margin-bottom: 13px;
	font-size: 28px;
}
.ContentRightContainer h2{
	padding-top: 36px;
	margin-bottom: 13px;
	font-size: 17px;
}
.DocsCard{
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 16px;
	width: initial;
	display: block;
}
.DocsCardContent{
	line-height: 22px;
	font-size: 14px;
}
.DocsCardTitle{
	line-height: 22px;
	font-size: 14px;
}
#DocsCards{
	margin-top: 32px;
}
.DocsCardsContainer{
	width: 100%;
}
#DocsMain{
	padding-top: 90px;
	padding-bottom: 40px;
}
#DocsMain br{
	display: none;
}
#DocsMain h1{
	font-size: 32px;
}
#DocsMain h2{
	font-size: 19px;
}
footer{
	padding-bottom: 8px;
	padding-top: 8px;
}
.FooterCopyright{
	font-size: 11px;
}
.FooterItem{
	font-size: 13px;
}
.Home{
	top: 10%;
	transform: translate(-50%,0%);
}
main{
	box-shadow: none;
}
.MainPage *{
	margin-bottom: 13px;
}
.MainPage h1{
	font-size: 28px;
}
.MainPage h2{
	font-size: 17px;
}
.MainPage p{
	font-size: 15px;
}
.Navigation{
	border-bottom-color: rgba(0,0,0,0.1);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 48px;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}
.NavigationBlocker{
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
}
.NavigationCenter{
	left: -300px;
	background-color: #fff;
	height: 100%;
	width: 257px;
	overflow-x: hidden;
	padding-left: 20px;
	position: fixed;
	top: 0;
	box-shadow: 0 5px 10px rgba(14,48,75,0.2);
	z-index: 111;
	transition: .5s left;
}
@keyframes CenterSmallShow{
	from{
		left: -300px;
	}
	to{
		left: 0px;
	}
}
.NavigationCenterSmall{
	left: 0px;
	animation-name: CenterSmallShow;
	animation-duration: .5s;
}
.NavigationItem{
	border-bottom-color: #f2f4f6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #576f7f;
	display: block;
	font-size: 16px;
	padding-bottom: 0;
	padding-top: 0;
	text-shadow: none;
	-webkit-transition: none;
	transition: none;
	height: 48px;
	line-height: 48px;
	text-align: left;
	padding-left: 0px;
}
.NavigationItemMore{
	border-bottom-color: #f2f4f6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #576f7f;
	display: block;
	font-size: 16px;
	text-shadow: none;
	-webkit-transition: none;
	transition: none;
	height: 48px;
	line-height: 48px;
	text-align: left;
	padding: 0;
	margin: 0;
}
.NavigationLeft{
	height: 48px;
	left: 50%;
	transform: translateX(-50%);
}
.NavigationLeft img{
	height: 36px;
	margin-top: 6px;
	width: 36px;
}
.NavigationLeft span{
	top: 5px;
	font-size: 21px;
}
.NavigationMore{
	display: block;
}
.NavigationMore .NavigationItem{
	display: none;
}
.NavigationMoreList{
	margin-top: 0;
	padding-left: 0;
	width: 100%;
	box-shadow: none;
	border: none;
	overflow: visible;
}
.NavigationMoreList{
	display: block;
}
.NavigationSmallButton{
	display: block;
	height: 48px;
	left: 0;
	position: absolute;
	top: 0;
	width: 48px;
}
.NavigationSmallButton .fa{
	line-height: 48px;
	padding-left: 17.1405px
}
.NextToWhiteTopic{
	padding-left: 24px !important;
	padding-right: 24px !important;
	padding-bottom: 32px !important;
	padding-top: 56px !important;
}
.ResourcesCard{
	display: block;
	width: calc(100% - 40px);
	margin-left: 0;
	margin-right: 0;
}
.SubtopicLeft{
	font-size: 15px;
}
.TopicLeft{
	font-size: 15px;
}
#TopicsLeft{
	width: 128px;
	padding: 29px;
	height: calc(100vh - 58px);
}
.TopicsLeftMiddle{
	left: 0;
}
.WhiteBlueGroup{
	font-size: 15px;
}
.WhiteBlueGroup .White{
	float: initial;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 24px;
	padding-top: 24px;
	width: initial;
}
.WhiteBlueGroup .Blue{
	margin-left: 0;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 32px;
	padding-top: 56px;
	margin-bottom: 16px;
	background-color: rgb(14,48,75);
}
.WhiteSubtopic{
	font-size: 17px;
	margin-bottom: 12px;
	margin-top: 9px;
}
.WhiteTopic{
	padding-top: 72px;
	font-size: 28px;
	padding-left: 8px;
}