<!doctype html>
<html ng-app="Projects">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Después de Ecocul-tour - poner el nombre del proyecto -->
	<title>Ecocul-tour - Cocina Sustentable</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bigStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 1025px)" href="../css/mediumStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 715px)" href="../css/smallStyle.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="../js/projects.js"></script>

</head>
<body ng-controller="main" data-ng-init="init()" ng-click="closeAll()">
	<main>
		<nav class="Navigation">
			<div ng-click="showSmallViews($event)" class="NavigationSmallButton">
				<div class="fa fa-bars"></div>
			</div>
			<div class="NavigationLeft">
					<a href="/">
						<img src="../img/icon.jpg">
					</a>
					<a href="/">
						<span>Ecocul-tour</span>
					</a>
			</div>
			<ul class="NavigationCenter">
				<li class="NavigationItem" id="CloseSidebar" ng-click="closeAll()"><div class="fa fa-times"></div></li>
				<li class="NavigationItem"><a href="/Proyectos">Proyectos sustentables</a></li>
				<li class="NavigationItem"><a href="/Objetivo">Objetivo</a></li>
				<li class="NavigationItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			</ul>
			<div class="NavigationBlocker"></div>
		</nav>
		<article class="Project">
			<!--Título ////////////////////////////////////////////////////////////////////////////////// -->
			<div class="ProjectTitle" ng-click="openOtherProjects($event)">Cocina Sustentable<span class="fa fa-chevron-down"></span></div>
			<div id="ContainerLeftRight">
				<div id="TopicsLeft">
					<div ng-repeat="topic in projects">
						<div class="TopicLeft">
							<a href="{{'/Proyectos/'+topic.href}}">{{topic.title}}</a>
						</div>
					</div>
				</div>
				<div id="ContentRight">
					<center>
						<!--Contenido /////////////////////////////////////////////////////////////////// -->
						<div class="ContentRightContainer">
							<h1>Cocina Sustentable</h1>
							<h2>El 50% de los alimentos producidos a nivel mundial son desperdiciados o desechados</h2>
							<p>En base a la investigación y publicación de la UNEP y la National Restaurant Association US  donde se destaca que el 50% de los alimentos producidos a nivel mundial son desperdiciados o desechados como resultado de la ineficiencia en una cadena de alimentos controlada, como es el caso de restaurantes y minoristas. De este porcentaje de desperdicios, el 65% es generado durante la misma preparación y aproximadamente 30% proviene de los comensales. UFS elabora el reporte Mundial del Menú donde se aprecia el creciente interés de comensales y profesionales de la cocina por conocer la procedencia y destino final de los alimentos.
 
							A raíz de este reporte, UFS inicia el proyecto cocina sustentable el cual tiene como finalidad principal reducir el desperdicio concientizando al personal de cocina de sus clientes basándose en la cadena de valor. Con el propósito de complementar el proyecto ya existente, nosotros, estudiantes de Ingeniería en Desarrollo Sustentable y miembros de la asociación estudiantil IDeaS, colaboramos con UFS implementando en dichas cocinas nuevos métodos de evaluación enfocados en eficiencia energética, hídrica, reducción de residuos y conciencia ambiental. Una vez hecha la evaluación, nos concentramos en crear propuestas adecuadas para la cocina evaluada.
 
							Este proyecto tiene entonces la finalidad de encaminar a las cocinas hacia practicas más sustentables. Esto quiere decir que mediante la responsabilidad ambiental y social se puede alcanzar un crecimiento económico mediante el ahorro, lo cual otorga a las cocinas un valor agregado en sus servicios.</p>
							<img src="../img/CS.jpg">
						</div>
					</center>
				</div>
			</div>
		</article>
	</main>

	<!-- FOOTER -->
	<footer>
		<ul class="FooterMenu">
			<li class="FooterItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			<li class="FooterItem"><a href="/Objetivo">Objetivo</a></li>
			<li class="FooterItem"><a href="/Proyectos">Proyectos sustentables</a></li>
		</ul>
		<p class="FooterCopyright">2016 Los Hobbits</p>
	</footer>
</body>
</html>