<!doctype html>

<html ng-app="Projects">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Después de Ecocul-tour - poner el nombre del proyecto -->
	<title>Ecocul-tour - Estufa urbana de concentración solar </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bigStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 1025px)" href="../css/mediumStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 715px)" href="../css/smallStyle.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="../js/projects.js"></script>

</head>
<body ng-controller="main" data-ng-init="init()" ng-click="closeAll()">
	<main>
		<nav class="Navigation">
			<div ng-click="showSmallViews($event)" class="NavigationSmallButton">
				<div class="fa fa-bars"></div>
			</div>
			<div class="NavigationLeft">
					<a href="/">
						<img src="../img/icon.jpg">
					</a>
					<a href="/">
						<span>Ecocul-tour</span>
					</a>
			</div>
			<ul class="NavigationCenter">
				<li class="NavigationItem" id="CloseSidebar" ng-click="closeAll()"><div class="fa fa-times"></div></li>
				<li class="NavigationItem"><a href="/Proyectos">Proyectos sustentables</a></li>
				<li class="NavigationItem"><a href="/Objetivo">Objetivo</a></li>
				<li class="NavigationItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			</ul>
			<div class="NavigationBlocker"></div>
		</nav>
		<article class="Project">
			<!--Título ////////////////////////////////////////////////////////////////////////////////// -->
			<div class="ProjectTitle" ng-click="openOtherProjects($event)">Estufa urbana de concentración solar<span class="fa fa-chevron-down"></span></div>
			<div id="ContainerLeftRight">
				<div id="TopicsLeft">
					<div ng-repeat="topic in projects">
						<div class="TopicLeft">
							<a href="{{'/Proyectos/'+topic.href}}">{{topic.title}}</a>
						</div>
					</div>
				</div>
				<div id="ContentRight">
					<center>
						<!--Contenido /////////////////////////////////////////////////////////////////// -->
						<div class="ContentRightContainer">
							<h1><big><big><tt>Estufa urbana de concentración solar</tt></big></big></h1>
							
							<p>José Antonio Urbano Castelán, Investigador del <i>Centro de Investigación y de Estudios Avanzados (Cinvestav) del IPN</i>, presentó un prototipo de estufa urbana de concentración solar, desarrollada a partir del éxito con las estufas solares en zonas rurales, el cual se pretende instalar en casas habitación. Sería la primera de su tipo en América Latina, y es  una alternativa energética, limpia, sustentable y económica, que permite  alcanzar temperaturas de hasta 300 grados centígrados, se puede utilizar hasta por cuatro días sin sol, y permite cocinar alimentos y calentar agua <u>sin que se emita ningún gas contaminante</u>. Está fabricada con más de 600 reflectores que permiten a la energía solar concentrarse y transformarse en calor.</p>
							<img src="../img/img10.jpg">
						</div>
					</center>
				</div>
			</div>
		</article>
	</main>

	<!-- FOOTER -->
	<footer>
		<ul class="FooterMenu">
			<li class="FooterItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			<li class="FooterItem"><a href="/Objetivo">Objetivo</a></li>
			<li class="FooterItem"><a href="/Proyectos">Proyectos sustentables</a></li>
		</ul>
		<p class="FooterCopyright">2016 Los Hobbits</p>
	</footer>
</body>
</html>