<!doctype html>
<html ng-app="Projects">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Después de Ecocul-tour - poner el nombre del proyecto -->
	<title>Ecocul-tour - PlantaE</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bigStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 1025px)" href="../css/mediumStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 715px)" href="../css/smallStyle.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="../js/projects.js"></script>

</head>
<body ng-controller="main" data-ng-init="init()" ng-click="closeAll()">
	<main>
		<nav class="Navigation">
			<div ng-click="showSmallViews($event)" class="NavigationSmallButton">
				<div class="fa fa-bars"></div>
			</div>
			<div class="NavigationLeft">
					<a href="/">
						<img src="../img/icon.jpg">
					</a>
					<a href="/">
						<span>Ecocul-tour</span>
					</a>
			</div>
			<ul class="NavigationCenter">
				<li class="NavigationItem" id="CloseSidebar" ng-click="closeAll()"><div class="fa fa-times"></div></li>
				<li class="NavigationItem"><a href="/Proyectos">Proyectos sustentables</a></li>
				<li class="NavigationItem"><a href="/Objetivo">Objetivo</a></li>
				<li class="NavigationItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			</ul>
			<div class="NavigationBlocker"></div>
		</nav>
		<article class="Project">
			<!--Título ////////////////////////////////////////////////////////////////////////////////// -->
			<div class="ProjectTitle" ng-click="openOtherProjects($event)">PlantaE<span class="fa fa-chevron-down"></span></div>
			<div id="ContainerLeftRight">
				<div id="TopicsLeft">
					<div ng-repeat="topic in projects">
						<div class="TopicLeft">
							<a href="{{'/Proyectos/'+topic.href}}">{{topic.title}}</a>
						</div>
					</div>
				</div>
				<div id="ContentRight">
					<center>
						<!--Contenido /////////////////////////////////////////////////////////////////// -->
						<div class="ContentRightContainer">
							<h1>PlantaE</h1>
							<h2>Construcción de un humedal piloto para tratamiento de aguas residuales mediante fitorremediación.</h2>
							<p>Grupo de jóvenes consciente de la demanda copiosa de soluciones creativas, eficaces y sustentables de los problemas de contaminación del  aire, de la tierra y en especial, del agua. Plantae ha iniciado la construcción de un humedal piloto replicable que tendrá capacidad de tratar hasta 300,000 litros por lote en el sur del estado de Tlaxcala,  marcado por los ríos Atoyac y Zahuapan y característico por su alta actividad agrícola e industrial.
 
							El tratamiento del medio ambiente apoyado en las interacciones bioquímicas entre plantas y microorganismos es denominado fitorremediación y existe desde los albores de la vida así como durante los últimos años a través de la biotecnología de humedales artificiales. Ha sido comprobado que el tratamiento de aguas residuales domésticas, industriales y agrícolas por humedales artificiales es una opción sustentable y barata frente los procesos convencionales.
 
							Por otra parte se desarrollan proyectos secundarios para aprovechar la biomasa producida por los humedales: compostas, forrajes, floricultura y biocombustibles; además de promover la educación ambiental a través de conferencias y capacitaciones a estudiantes, profesores, productores y actores gubernamentales.
 
							De esta manera Plantae, con la agradecida colaboración del ITESM Campus Puebla y Campus Estado de México, SIFE ITESM Puebla, la Universidad Autónoma de Tlaxcala, la Universidad Politécnica de Tlaxcala, la Universidad Politécnica de Pachuca, el Centro de Investigación y Estudios Avanzados del Instituto Politécnico Nacional, el Jardín Etnobotánico de Cholula y el Jardín Botánico de Tizatlán, busca resolver la urgencia de las comunidades, del gobierno y de la actividad industrial de garantizar agua limpia mediante procesos sustentables, coadyuvando al equilibrio ambiental, ecológico y social.</p>
							<img src="../img/PlantaE.jpg">
						</div>
					</center>
				</div>
			</div>
		</article>
	</main>

	<!-- FOOTER -->
	<footer>
		<ul class="FooterMenu">
			<li class="FooterItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			<li class="FooterItem"><a href="/Objetivo">Objetivo</a></li>
			<li class="FooterItem"><a href="/Proyectos">Proyectos sustentables</a></li>
		</ul>
		<p class="FooterCopyright">2016 Los Hobbits</p>
	</footer>
</body>
</html>