<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Projects">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Ecocul-tour</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bigStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 1025px)" href="../css/mediumStyle.css">
	<link rel="stylesheet" media="screen and (max-width: 715px)" href="../css/smallStyle.css">

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script><!-- load angular -->
	<script src="../js/projects.js"></script>

</head>
<body ng-controller="main" ng-click="closeAll()">
	<main>
		<nav class="Navigation">
			<div ng-click="showSmallViews($event)" class="NavigationSmallButton">
				<div class="fa fa-bars"></div>
			</div>
			<div class="NavigationLeft">
					<a href="/">
						<img src="../img/icon.jpg">
					</a>
					<a href="/">
						<span>Ecocul-tour</span>
					</a>
			</div>
			<ul class="NavigationCenter">
				<li class="NavigationItem" id="CloseSidebar" ng-click="closeAll()"><div class="fa fa-times"></div></li>
				<li class="NavigationItem">Proyectos sustentables</li>
				<li class="NavigationItem"><a href="/Objetivo">Objetivo</a></li>
				<li class="NavigationItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			</ul>
			<div class="NavigationBlocker"></div>
		</nav>
		<article class="Projects">
			<div id="DocsCards">
				<div class="DocsCardsContainer">
					<div ng-repeat="project in projects" class="DocsCard">
						<h3 class="DocsCardTitle">{{project.title}}</h3>
						<p class="DocsCardContent">{{project.description}}</p>
						<div class="DocsCardAction"><a href="{{'/Proyectos/'+project.href}}">Ver más</a></div>
					</div>
				</div>
			</div>
		</article>
	</main>

	<!-- FOOTER -->
	<footer>
		<ul class="FooterMenu">
			<li class="FooterItem"><a href="/Desarrollo_Sustentable">Desarrollo sustentable</a></li>
			<li class="FooterItem"><a href="/Objetivo">Objetivo</a></li>
			<li class="FooterItem">Proyectos sustentables</li>
		</ul>
		<p class="FooterCopyright">2016 Los Hobbits</p>
	</footer>
</body>
</html>